# Ignoring all files from .gitignore

.mypy_cache/
__pycache__/
.pytest_cache/
.vscode/

junk/

# .env
nohup.out

# Ignoring files that are useless at runtime

.git/
tests/
.dockerignore
.env.example
.gitignore
.qovery.yml
Dockerfile
LICENSE
mypy.ini
Procfile
README.md
requirements-dev.txt
runtime.txt
